{
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "*.scss"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "none"
}
